.container {
  margin: 0px;
  width: 100%;
  padding: 0;
  font-family: serif;
  color: #444444;
}

th {
  text-align: left;
}

.deck_container {
  width: 1000px;
  margin: 0px auto;
}

.deck1 {
  width: 200px;
  height: 200px;
  background-color: #FF8500;
  color: #FFD773;
  text-align: center;
  font-weight: bold;
  margin: 30px 20px 30px 20px;
  line-height: 160px;
  float: left;
}

.deck2 {
  width: 200px;
  height: 200px;
  background-color: #FF2C00;
  color: #FFD773;
  text-align: center;
  font-weight: bold;
  margin: 30px 20px 30px 20px;
  line-height: 160px;
  float: left;
}

/*.header h1 {
  background-color: #FFB600;
  color: white;
  margin: 0px;
  height: 50px;
  width: 100%;
  line-height: 80px;
  padding: 30px;

}*/

/*.header h2 {
  background-color: #FFC840;
  color: black;
  margin: 0px;
  height: 20px;
  line-height: 40px;
  padding: 20px 30px 20px 30px;
}

.header a {
  text-decoration: none;
}*/

/*.loginform {
  background-color: #FFB600;
  height: 50px;
  width: 60%;
  padding: 30px;
  float: left;
}*/

.break {
  clear: both;
}

.correctness {
  font-size: 50p
}

.card {
  text-align: center;
  margin: 0px auto;
  font-size: 30px;
}

.chances {
  text-align: center;
  margin: 0px auto;
  font-size: 30px;
}