<div class="container">
  <div class="error">
    <h1> Beep beep! <h1>
    </div>
    <div>
      <p> Your details don't match! <a href ="/login">Try again</a> or <a href ="/account/new">signup for an account.</a></p>
    </div>
  </div>
</div>
