<div class ="container">
<h1> Our logout machine is not so <span class="italic"> canggih </span> yet :'( </h1>
<p>Why don't you <a href =/account/new>create an account</a> or <a href =/login> sign in?</p>
</div>