<div class="container">
  <div class="header">
    <a href="/"><h1 class="headerfont">Wam Bam Cards!</h1></a>
        <h2 class="h2">The addictive flash cards game you have to play!</h2>
  </div>

  <h2>Game Over</h2>
  <%= "#{session[:user_id]}" %>
  <a href="/users/<%= session[:user_id]%>">Go back to profile page </a>

</div>
