<div class="container">
  <div class="header_special">
  <h1 >WELCOME!</h1>
  <p><b>This is an exclusive page only for users. Aren't you special!</h1></b></br>
</div>
</br>
<a href ="/logout">Logout</a>
</div>

