<div class="container">
  <div class="header">
    <a href="/"><h1 class="headerfont">Wam Bam Cards!</h1></a>
        <h2 class="h2">The addictive flash cards game you have to play!</h2>
  </div>

  <div>
    <form action="/users/login" method="post">
      <input type="text" placeholder ="username" name="username">
      <input type="password" placeholder ="password" name="password">
      <input type="submit" value="Sign in"><br><br>
    </form>
  </div>

</div>

<!-- <table>
  <tr>
    <td width="20%">
      <a href ="/account/new">New account</a>
    </td>
    <td width="70%">
      <a href ="/forgot">Forgot password?</a>
    </td>
  </tr>
</table> -->