<div class="container">
  <div class="header_new">
  <h1 class="header_font">Sign Up</h1>
</div>

  <form action="/account/new" method="post">
    <br/>
    Username: </br>
    <input type="text" name="user[username]"><br><br>
    Email:</br>
    <input type="text" name="user[email]"><br><br>
    Password: </br>
    <input type="text" name="user[encrypted_password]"><br><br>
    <input type="submit" value="Enter"><br><br>
  </form>

<table>
  <tr>
    <td width="20%">
      <a href ="/login">Home</a>
    </td>
  </tr>
</table>